<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/loginform.css">
</head>
<body>
    <div class="container">
        <div class="text">Login</div>
    
    <form class="login-form">
        <div class="form-row">
            <div class="input-data">
                <input type="email" id="ab3" required>
                <div class="underline"></div>
                <label for="ab3">Email Address</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data text-area">
                <input type="password" id="ab4" required>
                <div class="underline"></div>
                <label for="ab4">Enter Password</label>
            </div>   
        </div>
        <div class="form-row submit-btn">
            <div class="input-data">
                <div class="inner"></div>
                <input type="submit" value="enter">
            </div>
        </div>
    </form>
    
</div>
 <script src="/js/login.js"></script>   
</body>
</html>